html, body {
  display: flex;
  height: 100%;
  width: 100%;
}

app {
  display: flex;
  flex: 1;

  .container-fluid {
    display: flex;
    flex: 1;
    flex-direction: column;

    .board {
      display: flex;
      flex: 1;
      order: 1;
      flex-direction: row;

      #starmap {
        flex: 1;
        display: flex;
        background: yellow;
      }

      .sidebar {
        background: red;
      }
    }

    .taskbar {
      order: 2;

      nav {
        flex: 1;
        align-self: flex-end;
      }
    }
  }
}